@page "/"

<PageTitle>Home</PageTitle>

<h1>Temporary Application State in Blazor WebAssembly</h1>

In <a href="/contact">this example</a>, you can see how to temporarily store application state in local storage.
